
<html>
<head>
    <title>
        Home
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">My First App</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            {% if not user.is_authenticated %}
                <li><a href="/register">
                    <button class="btn btn-inline btn-success">SignUp</button>
                </a></li>
                <li><a href="/login">
                    <button class="btn btn-inline btn-success">Login</button>
                </a></li>
            {% else %}
                <li><a href="/logout">
                    <button class="btn btn-inline btn-success">Logout</button>
                </a></li>
            {% endif %}
        </ul>
    </div>
</nav>
<h2 class="heads"> Home Page </h2>
<p>
   <ul>
   {% if  user.is_authenticated %}
     <li>
       <a>Hello {{ user.get_full_name|default:user.username }}!</a>
     </li>
     <li>
       <a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>
     </li>
   {% else %}
     <li>
       <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with Facebook</a>
     </li>
     <li>
       <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Login with Google</a>
     </li>
     <li>
       <a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">Login with Twitter</a>
     </li>
   {% endif %}
   </ul>
 </p>
</body>
</html>
